/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-center {
  text-align: center !important;
}

.highcharts-credits {
  display: none;
}

body.dark {
  background-color: #444444;

  @import 'node_modules/highcharts/css/themes/dark-unica.scss';

  .highcharts-background {
    fill: transparent!important;
  }

  text {
    fill: $neutral-color-80!important;
  }
}

.app-dashboard-widget {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  mat-card {
    height: 100%;
  }

  mat-card-content {
    overflow-y: scroll;
  }
}